<!DOCTYPE html>
<html lang="en">
<head>
   <% include ./partials/_header%>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

<% for (const shortURL in urls){ %>
<div><p>
<% if (!userID) { %>
<tt>
  <%= shortURL %>
</tt>
</p>
<% } %>
<% } %>

<div>
<% if (missingURL) { %>
<tt>
<%= "sorry! that tiny URL does not exist!"  %>
</tt>
<% } %>

<div>



<% if (userID) { %>

<% for (const data in usersURLs) { %>

<tt>
<%= data %>

<%= usersURLs[data] %>

</tt>

<form method="POST" action="/urls/<%= data %>/delete">

  <button type='submit'>🗑</form>
</div>

<form action="/urls/<%= data %>" method="GET">
      <input type="submit" value="Update">
    </form>


<% } %>
<% } %>

<form action="/urls/new " method="GET">
      <input type="submit" value="NewURL">
    </form>
</body>
</html>